nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
}

.menu{
    list-style: none;
    padding: 0;
    background: #BB8FCE;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

.menu li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block  ;
}
.menu li{
    display: inline-block;
    text-align: center;
}

.menu li a:hover{
    background: #0017C1;
}