body{
    text-align: center;
}
button{
    background-color: transparent;
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.3s;
}

.button--yellow:hover{
background-color: yellow;
color: black;
}
.button--purple:hover{
    background-color: #BB8FCE
    ;
    text-emphasis-color: white;
    }